@import "vars"


/*==========  Mobile First  ==========*/

/* Custom, iPhone Retina */
@media only screen and (min-width : 320px)
	/**/
	
	.o-container
		width: 90vw

	.o-container--flex
		width: 90vw


	.c-header__logo-link
		font-size: 23px
		margin-right: 8px

	.c-header__menu

		.o-container--flex
			justify-content: flex-end

		.c-header__menu-item 
			display: none
	
		.c-header__item-adaptive
			display: block

			&:nth-child(2)
				border-right: 0
		
			.c-header__menu-link
				padding: 0 25px
				color: $grey

		.c-header__basket-item 
			a
				padding: 0 15px
		
	.c-header__search-form 
		.search
			display: none

	.c-header__slider

		.c-header__slider-img-mobile
			max-height: 550px
			text-align: center
			display: block
		
		.c-header__slider-img-desktop
			display: none

		.o-container

			.o-container--flex
				justify-content: flex-start

		.o-slider__descr
			width: 80%
			overflow: visible

			.o-slider__descr-title
				font-size: 2.5em
				max-height: 75px
				overflow: hidden

			.o-slider__descr-inf
				max-height: 105px
				overflow: hidden
				font-size: .9em
	
		.slick-dots
			max-width: 90%

			li				
				margin: 0
				padding: 0

			.c-slider__dots-title
				margin-right: 0
				width: 100%
				text-align: center

				p
					overflow: hidden
					white-space: nowrap

				h3
					font-size: 16px

			.c-dots-title__item:after
				display: none

	.o-slider__descr
		width: 40%
		overflow: hidden

	.c-offers
		.o-container--flex
			flex-flow: column nowrap

		.c-offers__item
			width: 100%
			margin-bottom: 10px	

			a
				width: 200px
				padding: 20px 0		

	.c-products

		.o-products__title
			font-size: 18px
				
		.o-products___wrapper
			flex-flow: column nowrap

			.o-products__item
				width: 100%
				margin-bottom: 20px

				&:nth-child(3)
					margin-bottom: 0
	

	.c-news
		
		.c-news__item-shipping
			display: block

		.c-news__item-testimonials
			display: none

		.o-container--flex
			flex-flow: column nowrap
			
		.c-news__item-shipping,
		.c-news__item-blog
			width: 100%
			margin-bottom: 20px
	
	.c-widgets
		
		.c-widgets__wrapper
			flex-flow: column nowrap

		.c-widgets__item:nth-child(2)
			display: none

		.c-widgets__item
			width: 100%

		.c-widgets__flickr-item
			
			img
				max-width: 130px


	.c-footer__top
		height: auto
		
		.o-container--flex
			flex-flow: column nowrap

		.c-footer__wrapper,
		form 
			margin: 20px 0
	
	.c-footer__bottom

		.o-container--flex
			flex-flow: column nowrap

		.c-footer__bottom-copy
			text-align: center

		.c-footer__bottom-menu
			margin-top: 10px

		.c-footer__bottom-wrapper
			flex-flow: column nowrap
					
			.c-footer__bottom-item
				
				span 
					display: none	

	.product

		.o-container--flex,
		.c-header__description
			display: flex
			justify-content: flex-start 

		.c-header__product-price
			margin-right: 10px

		.c-header__description 
				max-width: 100%

		.c-header__product-title
			font-size: 2.5em
			max-height: 80px
			overflow: hidden

		.c-header__product-inf
			font-size: .9em
			max-height: 90px
			max-width: 400px

		.c-products___list
			
			.o-products___list-wrapper
				flex-flow: column nowrap
			
				.o-products__item
					width: 100%


	.c-shops
		
		.c-shops__nav
			flex-flow: column nowrap
		
			.c-shops__nav-item
				text-align: center
				width: 100%
				margin-bottom: 10px

				.c-shops__nav-dropdown
					padding-top: 16px

					&:before
						border-bottom: 5px solid $white
						top: 26px
    					

	.o-products___header
		flex-flow: column nowrap

		.c-products___header-left
			
			a 
				display: none

		.c-products___header-right
			margin-top: 15px

			span
				display: none
				
			.o-products__button-block,
			.o-products__button-list
				display: none

	.o-products___list-wrapper
		flex-flow: column nowrap
		justify-content: center

		.o-products__item
			width: 100%

	
.c-products__view

    .o-products___list-wrapper
        flex-flow: column nowrap
        align-items: center

        .o-products__item
            width: 100%



/* Small Devices, Tablets */
@media only screen and (min-width : 768px)
	/**/

	.o-container
		max-width: 740px

	.o-container--flex
		max-width: 740px

	.c-header__logo-link
		font-size: 26px
		margin-right: 0

	.c-header__search-form 
		.search
			display: block

	.c-header__menu

		.o-container--flex
			justify-content: start
			
		.c-header__menu-item 
			display: block

			&:nth-child(3)
				border-left: 1px solid $grey
	
		.c-header__item-adaptive
			display: none
		
		.c-header__menu-link
			padding: 0 25px
			color: $grey
		
		.c-header__basket
			justify-content: flex-end

		.c-header__basket-item 
			a
				padding: 0 11px
		
		

	.c-header__slider 
		height: auto
		width: 100%

		img
			min-height: 450px

		.c-header__slider-img-mobile
			display: none

		.c-header__slider-img-desktop
			display: block

		.o-container

			.o-container--flex
				justify-content: flex-end

		.o-slider__descr
			margin-right: 55px
			width: 40%
			overflow: visible

	            
		.c-header__slider img 
		    height: auto
		    width: 100%
		    display: block


		.o-slider__descr
			margin-right: 25px
			
		.slick-dots
			max-width: 590px

			&::before
				width: 100%

			li				
				margin: 0 7px
    			padding: 0 12px

			.c-slider__dots-title
				width: 90%
				margin-left: 10px

				p
					overflow: hidden
					white-space: nowrap
					font-size: 12px

				h3
					font-size: 18px

			.c-dots-title__item
				position: relative

				&:after
					display: block

			.o-slider__descr
				width: 40%
				overflow: hidden
	
	.c-offers
		
		.o-container--flex
			flex-flow: row nowrap
		
		.c-offers__item
			width: 32%

			a 
				width: 200px
				padding: 20px 0
			
	.c-products

		.o-products__title
			font-size: 1.5em
				
		.o-products___wrapper
			flex-flow: row nowrap

			.o-products__item
				width: 32%
				margin-bottom: 0

	.c-news
		
		.c-news__item-shipping
			display: none

		.c-news__item-testimonials
			display: block

		.o-container--flex
			flex-flow: row nowrap
			
			.c-news__item-testimonials
				width: 24%

			.c-news__item-blog
				width: 74%
				margin-bottom: 0
	
	.c-widgets
		
		.c-widgets__wrapper
			flex-flow: row nowrap

		.c-widgets__item:nth-child(2)
			display: none

		.c-widgets__item
			width: 40%
		
	.c-footer__top
		height: auto
		
		.o-container--flex
			flex-flow: row nowrap

		.c-footer__wrapper,
		form 
			margin: 30px 0 
	
	.c-footer__bottom

		.o-container--flex
			flex-flow: row nowrap

		.c-footer__bottom-copy
			text-align: left

		.c-footer__bottom-menu
			margin-top: 0

		.c-footer__bottom-wrapper
			flex-flow: row nowrap
					
			.c-footer__bottom-item
				
				span 
					display: inline-block	

	.c-shops
		
		.c-shops__nav
			flex-flow: row nowrap
		
			.c-shops__nav-item
				text-align: center
				width: 24%
				margin-bottom: 0

				.c-shops__nav-dropdown
					padding-top: 37px

					&:before
						border-bottom: 5px solid $bg-color
						top: 32px
    
	.o-products___header
		flex-flow: row nowrap 

		.c-products___header-left
			
			a
				display: block

		.c-products___header-right
			margin-top: 0

			span
				display: inline-block
				
			.o-products__button-block,
			.o-products__button-list
				display: inline-block

	.o-products___list-wrapper
		flex-flow: row wrap
		justify-content: space-between

		.o-products__item
			width: 32%		


	.c-products__view

	    .o-products___list-wrapper
	        flex-flow: column wrap
	        align-items: center

	        .o-products__item
	            width: 50%


@media only screen and (min-width : 960px)
	/**/

	.o-container
		max-width: 940px

	.o-container--flex
		max-width: 940px

	.c-news
		
		.o-container--flex
			.c-news__item-shipping
				display: block
				width: 24%
				margin-bottom: 0

			.c-news__item-testimonials
				width: 24%

			.c-news__item-blog
				width: 49%

	.c-widgets
		
		.c-widgets__item:nth-child(2)
			display: block

		.c-widgets__item
			width: 31%
	
	.product

		.o-container--flex 
			justify-content: flex-end

			.c-header__description 
				flex-flow: column nowrap
				align-items: flex-start