 /*
    Description: normalize sass file.

    Content:
    1. Import_vars
    2. Normalize
    3. General_classes  
 */


@import "vars"



/***********/ 
/*Normalize*/
/***********/ 

*	
	box-sizing: border-box

a 
	color: #000
	outline: none
	text-decoration: none
	
	&:hover
		color: #000
		text-decoration: none

ul
	padding: 0
	margin: 0
	
li 
	list-style: none

p
	word-break: break-word
	overflow-wrap: break-word
	white-space: normal

html
	margin: 0
	padding: 0

body
	margin: 0
	padding: 0
	overflow-x: hidden
	min-width: 320px
	-webkit-text-size-adjust: none
	-webkit-font-smoothing: antialiased
	-moz-osx-font-smoothing: grayscale
	font-size: 16px
	line-height: 1.5
	color: #000
	font-family: $default-font, 'sans-serif'
	background-color: #fff
	opacity: 1

input, textarea
	outline: none
	appearance: none 
	border-radius: 0

textarea
	resize: none

body input:focus:required:invalid,
body textarea:focus:required:invalid
	color: #666

body input:required:valid,
body textarea:required:valid
	color: #666

button 
	outline: none
	cursor: pointer



/*****************/ 
/*General_classes*/
/*****************/

.u-clearfix::after
	clear: both
	content: ""
	display: block

.u-left
	float: left

.u-right
	float: right

.u-text-right
	text-align: right

.u-text-left
	text-align: left

.u-text-center
	text-align: center

.o-container
	display: block
	max-width: 940px
	height: 100%
	margin: 0 auto

.o-container--flex 
	display: flex
	margin: 0 auto
	max-width: 940px
	height: 100%

.o-img-responsive
	display: block
	max-width: 100%
	height: auto

.is-hidden
	display: none

.is-active
	color: $accent !important