 /*
    Description: products sass file.

    Content:
    1. Import files
    2. Header
    3. Shops
    4. Products
	5. Import media
    
 */



@import "fonts"
@import "libs"
@import "slick-theme"
@import "normalize"
@import "vars"



/*********/
/* header*/
/*********/

.c-header__product
    padding: 40px 0
    height: auto
    background-image: url("../img/header_slider-bg.jpg")
    background-size: cover
    background-repeat: no-repeat
    background-position: bottom left

    .o-container--flex
        justify-content: flex-end

.c-header__description
    display: flex
    flex-flow: row wrap
    max-width: 42%;
    justify-content: space-around;
    align-items: center;
    align-content: flex-start;


    .c-header__product-price
        padding: 25px 8px
        background-color: $accent
        color: $white
        font-size: 13px

        &:hover
            color: $black

    .c-header__product-title
        font-weight: 300
        margin: 0
        line-height: 1
        font-family: $light
        font-size: 40px
        color: $bg-color
    
    .c-header__product-inf
        font-family: $light
        font-size: 20px
        color: $bg-color
        max-height: 90px
        text-overflow: ellipsis
        overflow: hidden
        margin: 10px 0 0

    
    a 
        color: $grey
        padding: 10px
        background-color: rgba($white, .8)
        transition: .2s
    
        &:hover
            color: $accent



/*********/
/* Shops */
/*********/         

.c-shops
    padding: 15px 0
    background-color: $main-bg

    .c-shops__nav
        display: flex
        align-items: center
        justify-content: space-between

        .c-shops__nav-item
            display: flex
            justify-content: center
            align-items: center
            width: 23%
            background-color: $bg-color
            position: relative
            padding: 16px 0
            cursor: pointer
            color: $white
            font-size: 18px
            transition: .3s
        
            &:hover .fa
                color: $accent

            &:hover .c-shops__nav-dropdown
                display: block

            &:first-child
                cursor: default
                background-color: transparent

            .fa
                position: absolute
                right: 20px
                top: 20px

            .c-shops__nav-dropdown
                display: none
                background-color: transparent
                position: absolute
                padding-top: 37px
                width: 100%
                left: 0
                z-index: 10

                &:before
                    content: " "
                    position: absolute
                    top: 32px
                    width: 0
                    height: 0
                    border-left: 5px solid transparent
                    border-right: 5px solid transparent
                    border-bottom: 5px solid $main-bg
                    

                .c-shops__dropdown
                    padding: 15px 0
                    background-color: $bg-color
                    display: flex
                    flex-flow: column nowrap
                    justify-content: flex-start
                    align-content: flex-start
                
                    .c-shops__dropdown-item
                        padding: 2px 25px
                        transition: .3s

                        &:hover
                            background-color: $accent

                    .c-shops__dropdown-link
                        color: $white
                        font-size: 16px
                        display: block
                        overflow: hidden



/************/
/* Products */
/************/            

.c-products___header-left
    display: flex
    flex-flow: row wrap
    justify-content: flex-start
    align-items: flex-end

    .c-products___header-left-link
        font-family: $bold
        font-size: 12px
        color: $button
        margin-left: 11px
        margin-bottom: 5px 
        position: relative

        &:hover
            text-decoration: underline

.c-products___header-right
    position: relative

    span
        color: $button
    
    .o-products__button-block,
    .o-products__button-list
        padding: 6px 10px 
        margin-left: 5px
        cursor: pointer

    .o-products__button-active
        border-color: $bg-color
        color: $bg-color

    .o-products__button-alphabet
        padding: 8px 38px
        margin-left: 10px
        margin-right: 3px

        &:hover .fa-arrow-circle-down
            color: $bg-color
        
    .fa-arrow-circle-down
        position: absolute
        top: 7px;
        right: 13px;
        font-size: 17px;
        color: $button
    
.o-products___list-wrapper
    display: flex
    flex-flow: row wrap
    justify-content: space-between
 
    .o-products__item
        margin-bottom: 15px


.c-products__view

    .o-products___list-wrapper
        flex-flow: column nowrap
        align-items: center

        .o-products__item
            width: 50%




// $(‘list’).toggleClass(‘list—table’);
// $(‘list’).toggleClass(‘list—list’);

/****************/
/* Import_media */
/****************/

@import "media" 
    