 /*
    Description: slick-theme sass file.

    Content:
    1. Header_slider
    2. Buttons

 */


@import "vars"



/*****************/
/* Header_slider */
/*****************/

.c-header__slider 
    height: auto
    width: 100%
    
    .c-header__slider-img-mobile
        display: none

    .o-header__slider-item
        position: relative
        height: 100%

        .o-container--flex
            width: 100%
            position: absolute
            top: 0
            justify-content: flex-end
            align-items: center
            
.c-header__slider img 
    height: auto
    width: 100%
    display: block


.o-slider__descr
    margin-right: 25px

    .o-slider__descr-price
        padding: 25px 8px
        background-color: $accent
        color: $white
        font-size: 13px

        &:hover
            color: $black

    .o-slider__descr-title
        font-weight: 300
        line-height: 1
        font-family: $light
        font-size: 40px
        margin-bottom: 8px
        margin-top: 32px
        color: $bg-color
    
    .o-slider__descr-inf
        font-family: $light
        font-size: 20px
        margin-top: 0
        color: $bg-color
        
    
    a 
        color: $grey
        padding: 10px
        background-color: rgba($white, .8)
        transition: .2s
    
        &:hover
            color: $accent
              
            

/***********/
/* Buttons */
/***********/
.slick-dots
    margin: 8px auto 0 
    padding-bottom: 14px
    max-width: 590px
    display: flex
    justify-content: center
    flex-flow: row nowrap
    align-items: center
    position: relative

    &::before
        content: ''
        display: block
        width: 100%
        height: 11px
        background-color: #000
        position: absolute
        top: 0
        left: 0
        z-index: 1


.slick-dots li 
    margin: 0 7px
    padding: 0 12px
    cursor: pointer
    color: $grey
    z-index: 10
    width: 33%

    &:last-child
        border-right: none

    &:hover h3 
        color: $white   

.slick-dots li.slick-active .c-dots-title__item   
    height: 7px
    background-color: #57C5A0
    cursor: pointer
    width: 100%

.slick-dots li.slick-active h3
    color: $white  
    
.c-slider__dots-title
    width: 100%
    
    h3
        text-align: center
        color: $drop-down
        font-size: 18px
        margin: 15px 0 0 0 
        white-space: nowrap

    p 
        text-align: center
        margin: 0
        color: $grey
        font-size: 12px

.c-dots-title__item 
    margin-top: 2px  
    height: 7px
    position: relative

    &:after
        content: " "
        position: absolute
        height: 7px
        width: 2px
        right: -18px
        background-color: $main-bg
    