 /*
    Description: main sass file.

    Content:
    1. Import files
    2. Header
    3. Header_menu
    4. Offers
    5. Products
	6. News
	7. Widgets
	8. Footer
	9. Import media
    
 */

@import "fonts"
@import "libs"
@import "slick-theme"
@import "normalize"
@import "vars"
@import "products"



/**********/
/* Header */
/**********/

.c-header
	background-color: $main-bg
	height: 100%

	.o-container--flex
		flex-flow: row nowrap
		align-items: center

	.c-header__adaptive-menu
		display: none
	
.c-header__top-line
	background-color: $bg-color

.c-header__logo
	flex: 1 1 160px

.c-header__logo-link
	font-family: $logo
	font-size: 26px
	color: $accent
	text-transform: uppercase

	&:hover 
		color: $accent

.c-header__search-form
	height: 45px
	position: relative
	
	.c-header__search
		font-family: $default-font
		height: 100%
		background-color: transparent
		padding-left: 20px
		color: $grey
		border:
			top: 0
			right: 0
			bottom: 0
			left: 1px solid #383838
		
	.fa-search:before 
    	content: "\f002"
    	position: absolute
    	top: 5px
    	right: 10px
    	color: #7e7e7e
    	cursor: pointer

.c-header__dropwdown
	z-index: 10
	position: absolute
	width: 100%
	background-color: rgba($bg-color, .9)
	
	.c-header__dropwdown-item
		cursor: pointer
		font-size: 13px
		padding: 12px 20px 
		text-transform: uppercase
		border: 1px solid $grey

		&:hover
			background-color: rgba($bg-color, .7)
	
		a
			display: block
			color: $drop-down	

.c-header__login
	line-height: 45px
	height: 100%
	border-right: 1px solid #383838
	border-left: 1px solid #383838

	.c-header__login-form   
		display: block
		padding: 0 22px
		font-family: $default-font
		font-size: 13px
		color: $grey
		white-space: nowrap

		span 
			text-transform: uppercase
	
		&:hover	
			color: $grey
	
.c-header__login-popup
	padding: 30px
	margin: auto
	max-width: 320px;
	position: relative
	background-color: $bg-color
	text-align: center

	label
		color: $grey

	input
		border: 1px solid $grey
		padding: 8px;
		margin-bottom: 15px
		color: $grey
		transition: all 200ms ease-in-out

	input[type="submit"]
		font-family: $default-font
		margin-top: 20px
		margin-right: 10px
		margin-left: 10px
		padding: 10px 15px
		cursor: pointer
		background-color: transparent
		border-radius: 0.6em
		text-transform: uppercase
		font-weight: 700
		border-color: $accent
		color: #fff
  		box-shadow: 0 0 40px 40px $accent inset, 0 0 0 0 $accent
  		
  
		&:hover
    		box-shadow: 0 0 10px 0 $accent inset, 0 0 10px 4px $accent



/***************/
/* Header_menu */
/**************/
  			
.c-header__menu
	background-color: $white
	height: 60px

	.c-header__item-adaptive
		display: none

	.o-container--flex
		flex-flow: row nowrap
		justify-content: start
		align-items: center
		

	.c-header__menu-item	
		line-height: 60px
		height: 100%
		color: $bg-color
		border-right: 1px solid $grey
			
		&:first-child
			border-left: 1px solid $grey

		.c-header__menu-link
			padding: 0 22px
			display: block
			transition: .3s
			
			&:hover 
				color: $accent    		
 	
.c-header__basket
	margin-right: 0

	.c-header__basket-item
		line-height: 60px
		height: 100%
		border-left: 1px solid $grey
			
		&:last-child
			border-right: 1px solid $grey
		a
			color: $grey
			padding: 0 25px
			display: block
			transition: .3s
			
			span
				padding: 5px
				font-family: $bold
				font-size: 12px
				margin-left: 10px
				border-radius: 5px
				color: $white
				background-color: $grey	
				transition: .3s
				
		&:hover span
			background-color: $accent



/**********/
/* Offers */
/**********/

.c-offers
	padding: 25px 0
	height: 100%
	background-color: $bg-color	

	.o-container--flex
		justify-content: space-between
		align-items: center
	
	.c-offers__item
		display: flex
		width: 32%
		height: 180px
		justify-content: center
		align-items: center
		transition: .3s
		white-space: nowrap

		
		&:hover
			opacity: .8

		&:nth-child(1)
			background-image: url("../img/offers_1.png")
				background-repeat: no-repeat
			background-size: cover
			background-position: center

		&:nth-child(2)
			background-image: url("../img/offers_2.png")
				background-repeat: no-repeat
			background-size: cover
			background-position: center

		&:nth-child(3)
			background-image: url("../img/offers_3.png")
				background-repeat: no-repeat
			background-size: cover
			background-position: center

		a
			width: 90%
			text-align: center
			font-family: $light
			padding: 20px 0 		
			font-size: 25px	
			color: $white
			background-color: rgba($black, .7)
			text-transform: uppercase
			transition: .3s
				
			&:hover
				background-color: rgba($black, .9)


/************/
/* Products */
/************/

.c-products
	background-color: $product-bg
	height: 100%
	padding-bottom: 45px

.c-products___new-title
	display: flex
	justify-content: space-between
	align-items: center

.o-products___header
	padding: 25px 0
	display: flex
	justify-content: space-between
	align-items: center

	.o-products__title	
		margin: 0
		font-family: $light
		font-size: 25px
		font-weight: 300
		color: $bg-color
		
.o-products__button
	font-family: $bold
	font-size: 14px
	color: $button
	padding: 8px 20px
	border: 1px solid $button 
	transition: .3s
	white-space: nowrap

	&:hover
		color: $bg-color
		border: 1px solid $bg-color 

.o-products___wrapper
	height: 100%
	display: flex
	justify-content: space-between
	align-items: center

.o-products__item
	width: 32%
	background-color: $white
	position: relative

	.o-products__item-hover
		display: none
		bottom: 10px
		position: absolute
		width: 100%
		padding-left: 33%

		a
			margin: 0 4%
			display: inline-block

	&:hover .o-products__item-hover
		display: block

	&:hover .o-products__item-name
		display: none

	&:before
		content: ""
		left: 0
		bottom: 50px
		width: 100%
		height: 1px
		background-color: $drop-down
		position: absolute
		z-index: 1
	
	a
		display: block

		&:hover
			color: $accent

	img
		margin-top: 20px

	.o-products__item-bottom
		display: flex
		justify-content: flex-start
		align-items: center
		position: relative
		
		.o-products__item-price
			margin-left: 10px
			font-family: $bold
			font-size: 13px
			padding: 25px 10px
			background-color: $accent
			color: $white
			z-index: 10

		.o-products__item-name
			margin:
				right: 0
				bottom: 4px
				left: 15px
			font-size: 18px
			color: $bg-color
			font-weight: 300

.o-products__item__on-sale
	position: absolute
	top: 0
	right: 10px
	padding: 20px 7px
	background-color: $bg-color
	transition: .3s

	strong
		text-transform: uppercase
		color: $white
		font-size: 13px
		
	&:hover
		background-color: $grey

.o-products__item__out-ofstock
	position: absolute
	top: 0
	right: 10px
	padding: 15px 12px
	background-color: $orange
	transition: .3s
	line-height: 16px

	strong
		text-transform: uppercase
		color: $white
		font-size: 13px
		
	&:hover
		background-color: $orange-dark



/********/
/* News */
/********/

.c-news
	background-color: $new-bg

	.o-container--flex
		padding: 25px 0
		justify-content: space-between
		align-items: center
		border-top: 1px solid $button


.c-news__item-shipping,
.c-news__item-testimonials
	flex-flow: column wrap
	display: flex
	align-items: flex-start
	height: 185px
	width: 23.5%
	background-color: $new_item-bg
	padding: 25px 15px 15px 15px

.c-news__item-title
	text-transform: uppercase
	font-family: $bold
	font-size: 14px
	color: $bg-color
	margin: 0

.c-news__item-descr
	overflow: hidden
	font-size: 12px
	color: $bg-color
	height: 90px
	margin: 10px 0 0 0 

.c-new__item-author
	font-family: $italic
	font-size: 12px
	color: $bg-color
	margin-top: 6px

.c-news__item-blog
	height: 185px 
	width: 48%
	background-color: $new_item-bg
	background-color: $new_item-bg
	padding: 25px 15px 15px 15px

.c-news__slider-item
	overflow: hidden

.c-news__slider-message
	overflow: hidden
	display: flex
	justify-content: flex-start
	align-items: start
	margin-top: 15px
	height: 38px

	.c-news__slider-date
		padding: 6px 9px
		text-transform: uppercase
		font-family: $bold
		font-size: 10px
		color: $white
		background-color: $accent
		line-height: 12px
		
		span
			font-size: 13px

	.c-news__slider-description
		margin-left: 10px

		.c-news__slider-title
			color: $bg-color
			font-family: $bold
			font-size: 14px
			margin: 0

			&:hover 
				color: $black

		.c-news__slider-info
			height: 15px
			color: $bg-color
			font-size: 12px
			margin: 0 0 0 0
			overflow: hidden

 

/***********/
/* Widgets */
/***********/

.c-widgets
	padding: 40px 0
	background-color: $bg-color	
	
	.c-widgets__wrapper
		display: flex
		justify-content: space-between
		align-items: flex-start
	
	.c-widgets__item
		height: 170px
		width: 30%
		overflow: hidden

		.c-widget__item-title
			text-transform: uppercase
			font-size: 14px
			color: $widget-title
			margin-top: 0
		
		.c-widget__item-descr
			font-family: $italic
			font-size: 12px
			color: $grey
			font-weight: 700

		.c-widgets__twitter-item
			line-height: 11px
		
			.twitter-timeline
				font-family: $italic
				font-size: 12px
				color: $grey

	.twitter__message
		font-family: $italic
		font-size: 13px
		font-weight: 700

		.twitter__link
			color: $accent	
				text-decoration: underline
				
		.twitter__day
			color: $button
		

	.c-widgets__flickr	
		display: flex
		justify-content: space-between
		align-items: center
		flex-flow: row wrap

		.c-widgets__flickr-item
			width: 30%
			margin-top: 10px
			position: relative
			height: 55px
			transition: .3s

			&:hover 
				opacity: .6

			img
				height: 55px
				width: 100%
				display: block
				position: absolute




/**********/
/* Footer */
/**********/

.c-footer
	height: 100%

.c-footer__top
	height: 120px
	border-top: 1px solid $border
	background-color: $bg-color

.o-container--flex	
	justify-content: space-between
	align-items: center

	form 
		position: relative
	
		.c-footer__email
			border: 0
			padding: 10px
			width: 250px
			background-color: $main-bg
			font-family: $italic
			font-weight: 700
			color: $widget-title
			
		.c-footer__submit
			position: absolute
			top: 0
			right: 0
			height: 100%
			width: 35px
			border: 0
			cursor: pointer
			background-color: $widget-title
			transition: .3s
				
			&:active,
			&:hover
				background-color: $accent
			
		.fa
			position: absolute
			color: $main-bg
			top: 10px
			right: 10px
			cursor: pointer
			 							
	.c-footer__wrapper
		display: flex

		.c-fotter__wrapper-item
			margin: 0 8px
			background-color: $main-bg
			display: flex
			justify-content: center
			align-items: center
				
			a
				padding: 8px 0
				width: 35px
				font-size: 20px
				color: $widget-title
				transition: .3s

				&:hover .fa-facebook
					color: #3A589B
				
				&:hover .fa-twitter
					color: #2AAAE0

				&:hover .fa-google-plus
					color: #DA4835

				&:hover .fa-linkedin
					color: #007AB9

				&:hover .fa-flickr
					color: #000000

			.fa 
				display: flex
				justify-content: center
				align-items: center
				transition: .3s

.c-footer__bottom
	height: 100%
	background-color: $main-bg
	padding: 25px 0

	.c-footer__bottom-copy
		font-size: 12px
		color: $drop-down
	
	.c-footer__bottom-wrapper
		display: flex
		justify-content: flex-start
		align-items: center
		
		.c-footer__bottom-item
			margin-right: 5px
			position: relative

			&:last-child
				margin-right: 0

			a 
				font-size: 12px
				color: $drop-down

				&:hover
					text-decoration: underline

	
			

/****************/
/* Import_media */
/****************/

@import "media" 
	